{{> 'partials/header' }}

<title>Online Booking System - {{Title}}</title>

<main>
    <h1>{{Title}}</h1>
    <section id="top-profile-wrapper" class="">
        <ul>
            <li>
                <strong>First Name:</strong> {{User.FirstName}}
            </li>
            <li>
                <strong>Last Name:</strong> {{User.LastName}}
            </li>

            {{!-- if provider is local display the password list element, otherwise say login with [provider] --}}
            {{#if User.Provider}}
                <li>
                    <strong>Signed in with:</strong> {{User.Provider}}
                </li>
            {{else}}
                <li>
                    <span><strong>Password:</strong> ********</span>
                    <span><a href="/profile/edit-password" class="btn">Change Password</a></span>
                </li>
            {{/if}}
            <li>
                <strong>Email:</strong> {{User.Email}}
            </li>
            <li>
                <strong>Phone:</strong> {{User.Phone}}
            </li>                
        </ul>
        <a href="/profile/edit" class="btn">Edit Profile</a>
    </section>
    <section id="error-section" class="error-section">
        {{#if Error}}
            <p>{{Error}}</p>
        {{/if}}
    </section>
</main>

<script src="/public/js/zepto.min.js"></script>

{{> 'partials/footer' }}