{{> 'partials/header' }}

<title>Online Booking System - {{Title}}</title>

<main>
    <h1>{{Title}}</h1>

    {{!-- the locations list section --}}
    <section id="locations-wrapper" class="list-wrapper">
        <div>
            {{!-- the buttons to add and bulk item actions --}}
            <div>
                <a href="/locations/add" class="btn">Add Location</a>

                <form id="bulk-delete-form" action="/locations/bulk-delete" method="post">
                    <input type="hidden" name="ids" id="bulk-delete-ids" value="">
                    <button class="btn" id="bulk-delete" type="submit">Delete Selected</button>
                </form>
            </div>
        </div>

        {{!-- replace that above with a table --}}
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {{#each Locations}}
                    <tr>
                        <td>
                            <input type="checkbox" name="location" value="{{this.IDString}}">
                        </td>
                        <td>
                            <a href="/locations/view/{{this.IDString}}">{{this.Name}}</a>
                        </td>
                        <td>
                            <a href="/locations/edit/{{this.IDString}}" class="btn btn-primary">Edit</a>
                            <a href="/locations/delete/{{this.IDString}}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </section>

    <section id="error-section" class="error-section">
        {{#if Error}}
            <p>{{Error}}</p>
        {{/if}}
    </section>
</main>

<script src="/public/js/zepto.min.js"></script>

{{> 'partials/footer' }}