{{> 'partials/header' }}

<title>Online Booking System - {{Title}}</title>

<main>
    <h1>{{Title}}</h1>

    {{!-- this section will display up to 5 items of each organized into a list, with its respective show more items link --}}

    {{!-- the organizations list section --}}
    <section id="organizations-wrapper" class="list-wrapper">
        <div>
            <h2>Organizations</h2>
            {{!-- the buttons to add and bulk item actions --}}
            <div>
                <a href="/organizations/add" class="btn">Add Organization</a>

                <form id="bulk-delete-form" action="/organizations/bulk-delete" method="post">
                    <input type="hidden" name="ids" id="bulk-delete-ids" value="">
                    <button class="btn" id="bulk-delete" type="submit">Delete Selected</button>
                </form>
            </div>
        </div>

        {{!-- replace that above with a table --}}
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {{#each Organizations}}
                    <tr id="{{this.IDString}}">
                        <td>
                            <input type="checkbox" name="organization" value="{{this.IDString}}">
                        </td>
                        <td>
                            <a href="/organizations/view/{{this.IDString}}">{{this.Name}}</a>
                        </td>
                        <td>
                            <a href="/organizations/edit/{{this.IDString}}" class="btn btn-primary">Edit</a>
                            <a href="/organizations/delete/{{this.IDString}}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>

        {{!-- a link to show more --}}
        <a href="/organizations" class="btn">Show More</a>
    </section>

    {{!-- the locations list section --}}
    <section id="locations-wrapper" class="list-wrapper">
        <div>
            <h2>Locations</h2>
            {{!-- the buttons to add and bulk item actions --}}
            <div>
                <a href="/locations/add" class="btn">Add Location</a>

                <form id="bulk-delete-form" action="/locations/bulk-delete" method="post">
                    <input type="hidden" name="ids" id="bulk-delete-ids" value="">
                    <button class="btn" id="bulk-delete" type="submit">Delete Selected</button>
                </form>
            </div>
        </div>

        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Organization</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                {{#each Locations}}
                    <tr id="{{this.IDString}}">
                        <td>
                            <input type="checkbox" name="location" value="{{this.IDString}}">
                        </td>
                        <td>
                            <a href="/locations/view/{{this.IDString}}">{{this.Name}}</a>
                        </td>
                        <td>
                            {{this.Organization.Name}}
                        </td>
                        <td>
                            {{#if this.Address}}
                                {{this.Address}}, {{this.City}}, {{this.State}}, {{this.Zip}}
                            {{else}}
                                Address not provided
                            {{/if}}
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
        {{!-- a link to show more --}}
        <a href="/locations" class="btn">Show More</a>
    </section>

    {{!-- the booking resources list section --}}
    <section id="booking-resources-wrapper" class="list-wrapper">
        <div>
            <h2>Booking Resources</h2>
            {{!-- the buttons to add and bulk item actions --}}
            <div>
                <a href="/booking-resources/add" class="btn">Add Booking Resource</a>

                <form id="bulk-delete-form" action="/booking-resources/bulk-delete" method="post">
                    <input type="hidden" name="ids" id="bulk-delete-ids" value="">
                    <button class="btn" id="bulk-delete" type="submit">Delete Selected</button>
                </form>
            </div>
        </div>

        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody>
                {{#each BookingResources}}
                    <tr>
                        <td>
                            <input type="checkbox" name="booking-resource" value="{{this.ID}}">
                        </td>
                        <td>
                            <a href="/booking-resources/view/{{this.ID}}">{{this.Name}}</a>
                        </td>
                        <td>
                            {{this.Type}}
                        </td>
                        <td>
                            {{this.Location.Name}}
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
        {{!-- a link to show more --}}
        <a href="/booking-resources" class="btn">Show More</a>
    </section>

    {{!-- the reservations list section --}}
    <section id="reservations-wrapper" class="">
        <div>
            <h2>Reservations</h2>
            {{!-- the buttons to add and bulk item actions --}}
            <div>
                <a href="/reservations/add" class="btn">Add Reservation</a>

                <form id="bulk-delete-form" action="/reservations/bulk-delete" method="post">
                    <input type="hidden" name="ids" id="bulk-delete-ids" value="">
                    <button class="btn" id="bulk-delete" type="submit">Delete Selected</button>
                </form>
            </div>
        </div>

        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Booking Resource</th>
                    <th>Assistant</th>
                    <th>Contact</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                </tr>
            </thead>
            <tbody>
                {{#each Reservations}}
                    <tr id="{{this.ID}}">
                        <td>
                            <input type="checkbox" name="reservation" value="{{this.ID}}">
                        </td>
                        <td>
                            <a href="/reservations/view/{{this.ID}}">{{this.Name}}</a>
                        </td>
                        <td>
                            {{this.BookingResource.Name}}
                        </td>
                        <td>
                            {{this.AssistantFirstName}} {{this.AssistantLastName}}
                        </td>
                        <td>
                            {{this.AssistantEmail}} - {{this.AssistantPhone}}
                        </td>
                        <td>
                            {{this.StartDate}}
                        </td>
                        <td>
                            {{this.EndDate}}
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>

        {{!-- a link to show more --}}
        <a href="/reservations" class="btn">Show More</a>
    </section>

    <section id="error-section" class="error-section">
        {{#if Error}}
            <p>{{Error}}</p>
        {{/if}}
    </section>
</main>

<script src="/public/js/zepto.min.js"></script>

{{> 'partials/footer' }}